<div class="card my-5">
  <h2 class="card-header">Editando Usuário</h2>

  <%= render 'form', user: @user %>

  <div class="card-footer">
    <%= link_to 'Cancelar', users_path, class: "btn btn-sm btn-outline-dark" %> |
    <%= link_to 'Detalhes', @user, class: "btn btn-sm btn-outline-dark" %> 
  </div>
</div>