<div class="card my-5">
  <h2 class="card-header">Editando Síndico</h2>

  <%= render 'form', syndic: @syndic %>

  <div class="card-footer">
    <%= link_to 'Cancelar', syndics_path, class: "btn btn-sm btn-outline-dark" %> |
    <%= link_to 'Detalhes', @syndic, class: "btn btn-sm btn-outline-dark" %> 
  </div>
</div>